/* General Styling */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3f51b5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure it takes full width */
}

.navbar-title-container {
  flex-grow: 1; /* Center aligns the title */
  text-align: center;
}

.navbar-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}